<footer class="footer">
 <table  style="width:100%;">
 <tr>
 <td>
 <h4>Contact Us </h4>
 </td>
 <td>
 <h4>Follow </h4
 </td>
 <td>
 <h4>Explore </h4
 </td>
 <td>
 <h4>Visit </h4
 </td>
 </tr>
 <tr>
 <td>
    <p>&#9993; info@pngcrypt.com </p>
  <p>&#128379; +1(555)222-2222 </p>
  </td>
  <td>
  <p><a href="http://www.facebook.com" style="width:12%;" class="fa fa-facebook"></a>
	<a href="http://www.twitter.com" style="width:12%;" class="fa fa-twitter"></a>
      <a href="http://www.instagram.com" style="width:12%;" class="fa fa-instagram"></a>
      <a href="http://www.youtube.com" style="width:12%;" class="fa fa-youtube"></a>
 </p>
  </td>
  <td>
      <p><%= link_to "About",   about_path %> |
      <%= link_to "Contact", contact_path %>  |
      <a href="https://github.com/michaelJyee/pngCrypt" target = "_blank">The Source</a></p>
  </td>
  <td>
  <p>4400 University Dr, <br/> Fairfax, Virginia, 22030</p>
  </td>
  </tr>
  </table>
</footer>